*{
    margin:0;
    padding:0;
    font-size: 20px;
}

.container{
    margin:120 px auto;
    width:100%;
    height: 100%;
}
header{
    background-color: rgb(236, 24, 9);
    height: 100px;
    width: auto;
    display: flex;   
    align-items: center;
    justify-content: left;
    background-size: 100%;
    font-size: 100px;
}
header img{
    height: auto;
    width: 200px;
    margin: 0px 100px 0px 40px;
    justify-content: left;

}

nav {
    
    font-size: 50px;
    font-family: 'Helvetica';
    height: 100px;
    display: flex;
    align-items:center;
    justify-content:center;
    color: white;

}   

.navbar a {
    display: inline-block; 
    text-decoration: none;
    cursor : pointer;
    padding: 20px 50px;
    color: black; 
}

.navbar a:hover {
    background-color: #1616df;
    color: white;
}


.body{

    display: flex;
    height: 100%;
    width: auto;
}

.sidebar{
    background-color: blue;
    height: 200px;
    width: 30%;
    display: flex;
    align-items: center;    
    justify-content: center;
}

.MainContent{
    background-color: rgb(236, 133, 115);
    height: auto;
    width: 60%;
    align-items: center;
    justify-content: center;
    padding :auto;

}
.ContentBerita{
    background-color: rgb(93, 150, 46);
    width: 40%;
    align-items: center;
    justify-content: center;
    height: auto;
}

.ContentBerita img {
    width: 200px;
    height: 400;
    padding: auto;
    justify-content: center; 
}
footer{
    background-color: rgb(2, 89, 100);
    height: 80px;
    /* display: flex; */
    text-align: center;
    align-items: center;
    justify-content: center;
}
